:root {
    --primary-text-color:#2E2F42;
    --title-text-color:#434455;
    --accent-color:#4D5AE5;
    --white-color:#ffffff;
    --button-background:#F4F4FD;
}

/* основной цвет текста #2E2F42 */
/* вторичный цвет текста #434455 */

html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p, ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    margin: 0;
    color:var(--primary-text-color);
    background-color:var(--white-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

nav {
    display: flex;
    align-items: center;
}

.container.main-nav {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
}

.link, .list {
    list-style: none;
    text-decoration: none;
}

.button {
    font-family: inherit;
}

.button {
    color: var(--accent-color);
    background: var(--button-background);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 12px 24px;
    margin-bottom: 72px;
}

.button:hover, 
.button:focus {
    color: var(--white-color);
    background: var(--accent-color);
    cursor: pointer;
}

.title-button {
    color: var(--white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;

    letter-spacing: 0.04em;
    line-height: 1.5;
    border: none;
}

.title-button:hover,
.title-button:focus {
    cursor: pointer;
}

.logo {
    color: var(--primary-text-color);
    font-family: Raleway;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    margin-right: 76px;
}


span {
    color: var(--accent-color);
}

.navigation.link {
    display: flex;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}  

.navigation.link .item {
    margin-right: 40px;
}

.navigation.link .item:last-child {
    margin-right: 0;
}

.navigation.link .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--primary-text-color);

    font-weight: 500; 
    line-height: 1.5;
    letter-spacing: 0.02em;   
}

/*.item {
    margin-right: 40px; 
}

.item:last-child {
    margin-right: 0;
}*/  

.navigation.link .link:hover, 
.navigation.link .link:focus {
    color: var(--accent-color);
}

.adressat.link {
    display: flex;
}

address {
    margin-left: auto;
}

.adressat.link .item {
    margin-right: 40px;
}

.adressat.link .item:last-child {
    margin-right: 0;
}
    


.adressat.link .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--title-text-color);
    
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;

}

.adressat.link .link:hover, 
.adressat.link .link:focus {
    color: var(--accent-color);
}

.hero {
    background-color: var(--primary-text-color);
    text-align: center;
    padding: 188px 0;
}

.hero-title {
    color: var(--white-color);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 48px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 48px;
}


.portfplio-title link {
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.future-section {
    padding-top: 120px;
    padding-bottom: 0;
}

.section-text {
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-top: 0;
    margin-bottom: 0;

    text-align: center;
}

.list-subtitle {
    display: flex;
}

.list-images {
    display: flex;
    gap: 24px;
}

.list-team {
    display: flex;
}

.item-subtitle {
    width: 264px;
}

.item-subtitle {
    margin-right: 24px;
}

.item-subtitle:last-child {
    margin-right: 0;
}

.list-team-child {
    margin-right: 24px;
    padding-bottom: 32px;
}

.list-team-child:last-child {
    margin-right: 0;
}

.footer-text {
    color: var(--white-color);
    line-height: 1.5;
    letter-spacing: 0.02em;    

    width: 264px;
    margin-top: 16px;
}

.section-subtitle {
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;   
    margin-bottom: 8px;
    margin-top: 0;
    text-align: center;

}

.section-title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 72px;

    /*margin-bottom: 60px;*/
    text-align: center;
}

.subtitle-none {
    display: none;
}

.section-title-question {
    margin-bottom: 72px;
    text-align: center;
    height: 40px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.section-subtitle.team {
    margin-top: 32px;
    margin-bottom: 8px;
}

.footer {
    background-color: var(--primary-text-color);
    padding: 100px 0;
}

.logo-footer, link {
    color: var(--white-color); 
    font-family: Raleway;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
}

.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
   /* outline: 2px solid tomato;*/
}

.advantages {
    margin-top: 32px;
    margin-bottom: 8px;
}

.list-advantages {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.container-advantages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list-advantages li {
    margin-right: 24px;
}

.list-advantages li:last-child {
    margin-right: 0;
}

.two-header {
    text-align: center;
    margin-bottom: 24px;
}

.container.main-nav {
    align-items: center;
}

.photo-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-container {
    background-color: var(--button-background);
    padding-bottom: 120px;
    padding-top: 120px;
}

.flex-container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15PX;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
}

.portfplio-title {
    display: flex;
    flex-wrap: wrap;
}

.flex-element {
    width: calc((100% - 48px) / 3);
    margin-right: 24px;

    /*margin-right: 24px;*/
    margin-bottom: 48px;

    /*width: 360px;
    height: 420px;*/
}

.flex-element:nth-child(3n) {
    margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
    margin-bottom: 120px;
}

/*  padding-left: 156px;
    padding-top: 138px;
    padding-right: 1020px;
    padding-bottom: 100px;*/

.footer-container {
    margin-left: 156px;
}